* {
    margin: 0px;
    padding: 0px;
    font-family: 'Graduate';
}

body {
    background-image: url('../images/tiles/grass.png');
}

.nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.turn-order {
    /* background-color: #1BA4DF; */
    width: 60px;
    height: 60px;
    margin-right: 6px;
}

.current-turn{
    margin-right: 10px;
    margin-left: 10px;
}

.main-body {
    /* display: flex;
    justify-content: space-around;
    padding: 20px 0px 10px 0px; */
}

.box-1 {
    /* padding: 0px 0px 10px 0px; */
    margin-bottom: 10px;
    height: 20vh;
    /* border-image: url('../images/BoxSelector.png');
    border-image-slice: 1 fill;
    border-image-width: 10px;
    border-image-outset: 20px;
    border-image-repeat: round; */
}

.box-2{
    /* padding: 0px 0px 10px 0px; */
    margin-bottom: 10px;
    height: 20vh;
}


.footer-detail {
    background-color: #0B1C5A;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 8px;
    align-items: center;
    text-align: center;
}

.result {
    text-align: start;
}

.title {
    font-size: 20px;
}

.character-img-holder{
    background-image: url('../sprites/test/loose\ sprites.png');
    background-size: 600px 600px;
    animation: play-sprite 1s steps(4) infinite;
    width: 80px;
    height: 80px;
}

.enemy-detail{
    background-color: rgb(168, 75, 75);
}

@keyframes play-sprite {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -300px 0; /* Adjust the value based on the total width of your sprite (frame width * number of frames) */
    }
}

@keyframes play-enemy-sprite {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -510px 0; /* Adjust the value based on the total width of your sprite (frame width * number of frames) */
    }
}

.enemy-img-holder{
    background-image: url('../sprites/enemy/slime-Sheet.png');
    background-size: 520px 300px;
    animation: play-enemy-sprite 1s steps(4) infinite;
    width: 80px;
    height: 80px;
}


.stat-icon{
    width: 40px;
    height: 40px;
    margin: 6px;
}

.actions{
    position: absolute;
    top: 20vh;
    width: 10vw;
    margin-left: 64px;
    height: 50vh;
}

.combat-sprite{
    width: 120px;
    height: 120px;
}

.character-img{
    width: 60px;
    height: 60px;
}

.attackEnemy:hover{
    cursor: pointer;
    background: gray;
}

.dmg-text{
    transform: translateY(80px);
    display: none;
}
